mat-toolbar {
  mat-toolbar-row {
    height: 9rem;
  }

  mat-toolbar-row.head {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 2.7rem;
      font-weight: 900;
      letter-spacing: .2rem;
    }
  }

  mat-toolbar-row.nav {
    display: none;
    flex-direction: column;
    align-items: center;
    grid-gap: 1.6rem;

    mat-divider {
      width: 100%;
    }

    mat-nav-list {
      display: flex;
      grid-gap: 9rem;

      a {
        border: .1rem dashed transparent;
        transition: border 150ms ease-in-out;

        span.nav-item {
          color: #fff;
        }
      }

      a.active {
        border-color: #fff;
      }
    }
  }
}

span.menu-item,
span.nav-item {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

a.active > span.menu-item {
  color: #3f51b5;
}

@media (min-width: 768px) {
  mat-toolbar {
    mat-toolbar-row.head > button {
      display: none;
    }

    mat-toolbar-row.nav {
      display: flex;
    }
  }
}
