<main>
  <div class="main-content mat-elevation-z2">
    <h2>{{ subTitle }}</h2>
    <section class="section-id">
      <h3>Identificação</h3>
      <p>{{ name }}</p>
      <p>RA {{ ra }}</p>
      <p *ngFor="let git of gits">
        <a href="{{ git.link }}" target="_blank">
          <span>{{ git.label }}</span>
          <mat-icon aria-hidden="false" aria-label="">launch</mat-icon>
        </a>
      </p>
    </section>
    <section class="section-classes" *ngIf="disciplines.disciplines.length">
      <h3>Disciplinas</h3>
      <table class="mat-elevation-z4">
        <tbody>
          <tr *ngFor="let discipline of disciplines.disciplines">
            <mat-divider></mat-divider>
            <td>
              <span>
                <mat-icon>school</mat-icon>
                <span>{{ discipline.discipline }}</span>
              </span>
            </td>
            <td>
              <span>
                <mat-icon>today</mat-icon>
                <span>{{ discipline.weekday }}</span>
              </span>
              <span>
                <mat-icon>schedule</mat-icon>
                <span>{{ discipline.time }}</span>
              </span>
            </td>
            <td>
              <span>
                <mat-icon>grade</mat-icon>
                <span>Nota P1</span>
                <span *ngIf="discipline.p1">{{ discipline.p1 | number : ".2-2" : "pt" }}</span>
                <span *ngIf="!discipline.p1">-</span>
              </span>
            </td>
            <td>
              <span>
                <mat-icon>grade</mat-icon>
                <span>Nota P2</span>
                <span *ngIf="discipline.p2">{{ discipline.p2 | number : ".2-2" : "pt" }}</span>
                <span *ngIf="!discipline.p2">-</span>
              </span>
            </td>
            <mat-divider></mat-divider>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</main>
