main > div.main-content {
  section {
    margin: 0 9%;
  }

  section.section-id {
    p {
      a {
        width: fit-content;
        color: #000;
        text-decoration: none;
        display: flex;
        align-items: center;
        grid-gap: .5rem;
        transition: color 150ms ease-in-out;

        span {
          text-decoration: underline;
        }

        mat-icon {
          font-size: 1.6rem;
          text-indent: initial;
          transition: transform 150ms ease-in-out;
        }
      }

      a:hover {
        color: #f57c00;
      }

      a:hover > mat-icon {
        transform: scale(1.2);
      }
    }
  }

  section.section-classes > table {
    width: 100%;
    font-size: 1.6rem;

    tbody {
      padding: 1rem 2rem;
      display: block;

      tr {
        padding: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        mat-divider {
          width: 100%;
        }

        td {
          width: 100%;
          padding: 1rem;
        }

        td:first-of-type {
          max-width: 12rem;
        }

        td:nth-of-type(2) {
          max-width: 4.5rem;
        }

        td:last-of-type {
          max-width: 45rem;
        }
      }
    }
  }
}
