main > div.main-content {
  section.section-id {
    p {
      a {
        width: fit-content;
        color: #000;
        text-decoration: none;
        display: flex;
        align-items: center;
        grid-gap: .5rem;
        transition: color 150ms ease-in-out;

        span {
          text-decoration: underline;
        }

        mat-icon {
          font-size: 1.6rem;
          transition: transform 150ms ease-in-out;
        }
      }

      a:hover {
        color: #f57c00;
      }

      a:hover > mat-icon {
        transform: scale(1.2);
      }
    }
  }
}
