main > div.main-content {
  div.main-head {
    display: flex;
    align-items: center;
    grid-gap: 2rem;

    button {
      margin-bottom: 1.6rem;
    }
  }

  section.section-classes > table > tbody {
    tr {
      border-radius: .5rem;
      transition: background-color 1000ms ease-in-out,
      transform 500ms 1000ms ease-in-out;

      td {
        div {
          width: 100%;
          display: flex;
          justify-content: center;
          grid-gap: 2rem;
        }
      }
    }

    tr.highlight {
      background-color: #c5cae9;
    }

    tr.deleting {
      background-color: #ffcdd2;
      transform: scale(0, 1);
    }
  }

  section.section-form,
  section.section-confirm-delete {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #000c;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: opacity 300ms ease-in-out, transform 100ms ease-in-out;

    div {
      width: 80%;
      border-radius: .5rem;
      padding: 2rem 1rem;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      grid-gap: 1rem;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: .5rem;

        button {
          font-size: 1.6rem;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: .1rem;
        }
      }

      p {
        margin-right: 9%;
        margin-left: 9%;
      }

      button {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .1rem;
        align-self: center;
      }
    }
  }

  section.hide {
    opacity: 0;
    transform: scale(0, 0);
    transition: opacity 100ms ease-in-out, transform 300ms ease-in-out;
  }
}

@media (min-width: 768px) {
  main > div.main-content {
    section.section-form,
    section.section-confirm-delete {
      div {
        width: 50%;
      }
    }
  }
}
